@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

h1{
  color: #3A3845;
  font-family: Times, serif;
}

body{
  color: #73777B;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px


}
h2{
  color: #826F66
}
.card-white {
  background: peachpuff;
  padding: 30px;
  border: 1px solid lightgrey;
  text-align: center
}
.card-black {
  background: rgb(202, 156, 29);
  padding: 30px;
  border: 1px solid lightgrey;
  text-align: center
}
.container {
  width: 500px;   /* This sets the width */
  margin: 40 auto; /* This automatically sets left/right margins */
}
#z {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
a:hover {
  color: grey;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
